body{
	background-image: url(castle.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	text-align: center;
}
p{
	color: white;
}
h1{
	color: white;
}